
/* -----NAVBAR CSS-------------- */

@media screen and (min-width: 576px) {
    .nav-search-bar {
      width: 18rem !important;
    }
  
    .navbar-brand {
      font-family: "Zen Dots", cursive;
      font-size: 1.7rem;
    }
  
    .my-nav-list {
      text-align: center;
      list-style: none;
      /* margin-left: 25%;
          margin-right: auto; */
    }
  
    .nav-item {
      padding-left: 7rem;
      padding-right: 2rem;
    }
  
    .my-nav-item2 {
      text-align: right;
    }
  
    .navbar-brand {
      padding-right: 4rem;
    }
  }
/* -----Footer Area-------------- */
.home-footer {
    background-color: #053d4b;
    
    margin-top: 2.5rem;
  }
  
  .footer-text {
    color:rgba(245, 245, 245, 0.836);
    padding: 1rem;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: 300;
  }
  
  .card-img-top {
    border-radius: 5px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
    height: 100%
}

body {
    display: grid;
    background: #fff;
    font-family: 'Manrope', sans-serif
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.deal_featured {
    width: 100%
}

.deal {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px
}
.slider_container {
    width: 100%
}

.item {
    width: 100% !important
}

.image {
    width: 100%
}

.image img {
    width: 100%
}

.content {
    margin-top: 33px
}

.category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.itemName {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.itemPrice {
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}


.checked {
    color: orange
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}