/* -------FORMS CSS------- */

.form-div {
  margin: 10rem auto 10rem auto;
}
.form-login {
  margin: auto;
}
.logo-div {
  margin: auto;
}

.logo-text {
  max-width: 30%;
  margin: auto;
  font-family: "Zen Dots", cursive;
  background-color: #132c33;
  border-radius: 25px;
  font-size: 4.7rem;
  color: #f5f5f5;
  margin-bottom: 0.5rem;
  padding: 1rem 0 1rem 0;
}

.under-logo-text {
  margin: 1rem auto 1rem auto;
  max-width: 25%;
  font-size: 1.5rem;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .logo-text {
    max-width: 50%;
  }

  .under-logo-text {
    max-width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .logo-text {
    max-width: 80%;
    font-size: 3.2rem;
  }

  .under-logo-text {
    max-width: 70%;
  }
}
.input-label {
  font-weight: 380;
}
.form-group {
  max-width: 28%;
  margin: auto;
  margin-top: 0.5rem;
}

.form-submit {
  margin: auto;
  margin-top: 1.2rem;
  max-width: 28%;
}

@media screen and (max-width: 1300px) {
  .form-group {
    max-width: 50%;
  }

  .form-submit {
    max-width: 50%;
  }
}

.forgot-text {
  font-weight: 300;
  margin-top: 1.3rem;
}
