
/* -----NAVBAR CSS-------------- */

@media screen and (min-width: 576px) {
    .nav-search-bar {
      width: 18rem !important;
    }
  
    .navbar-brand {
      font-family: "Zen Dots", cursive;
      font-size: 1.7rem;
    }
  
    .my-nav-list {
      text-align: center;
      list-style: none;
      /* margin-left: 25%;
          margin-right: auto; */
    }
    .display-state{
        display: none;
      }
    .nav-item {
      padding-left: 3rem;
      padding-right: 2rem;
      font-weight: 400;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }
  
    .my-nav-item2 {
      text-align: right;
    }
  
    .navbar-brand {
      padding-right: 4rem;
    }
  }

  .cart-img{
      width: 30px !important;
      height: 30px !important;
  }
/* -----Footer Area-------------- */
.home-footer {
    background-color: #053d4b;
    
    margin-top: 2.5rem;
  }
  
  .footer-text {
    color:rgba(245, 245, 245, 0.836);
    padding: 1rem;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: 300;
  }
  
  .card-img-top {
    border-radius: 5px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
    /* height: 100% */
}

body {
    display: grid;
    /* font-family: 'Manrope', sans-serif */
    background-color: #f5f5f8; 
    
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.row {
    margin-top: 50px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.col-md-4{
    margin-top: 2rem;
}

.deal {
    width: 100%;
    height: 500px;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px;
    background-color: white;
}

.item {
    width: 100%;
    
}

.image {
    width: 100%
}

img {
    width: 100%;
    height: 200px;
}

.content {
    margin-top: 33px
}

.category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.itemName {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    height: 2rem;
    overflow: hidden;
}

.itemPrice {
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
}
a,a:hover{
    text-decoration: none;
}
/* 
@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
} */