
.carousel-container {
  margin-top: 7rem;
  margin-bottom: 4rem;

  width: 70%;
}

.carousel-img{
  height: 25rem;
}

@media screen and (max-width: 800px) {
  .carousel-container {
    margin-top: 5rem;
    margin-bottom: 4rem;

    width: 90%;
  }
}


/* -----NAVBAR CSS-------------- */

@media screen and (min-width: 576px) {
  .nav-search-bar {
    width: 18rem !important;
  }

  .navbar-brand {
    font-family: "Zen Dots", cursive;
    font-size: 1.7rem;
  }

  .my-nav-list {
    text-align: center;
    list-style: none;
    /* margin-left: 25%;
        margin-right: auto; */
  }

  .nav-item {
    padding-left: 3rem;
    padding-right: 2rem;
  }

  .my-nav-item2 {
    text-align: right;
  }

  .navbar-brand {
    padding-right: 4rem;
  }
}

.display-state{
  display: none;
}


/* ----- Footer Area ------- */

.home-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#132c33;
  color: white;
  text-align: center;
}

.footer-text {
  color:rgba(245, 245, 245, 0.836);
  padding: 1rem;
  text-align: center;
  margin-bottom: 0 !important;
  font-weight: 300;
}

.gallery-wrap{
  margin-top: 50px;
}
.content{
  margin-top: 50px;
}

.card-img-top {
  border-radius: 5px;
}
.fa{
  color: #132c33;
}
.fab{
  color: #132c33;
}
body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0; 
}
.main-body {
  padding: 15px;
}

.nav-link {
  color: #4a5568;
}

.home-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#132c33;
    color: white;
    text-align: center;
  }
  
  .footer-text {
    color:rgba(245, 245, 245, 0.836);
    padding: 1rem;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: 300;
  }
  .product_view .modal-dialog {
      max-width: 800px; width: 100%;
    }
  .pre-cost{
      text-decoration: line-through; color: #a5a5a5;
    }
  .space-ten{
      padding: 10px 0;
    }
    .itemPrice{
      
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
    }