@media screen and (min-width: 576px) {
  .nav-search-bar {
    width: 18rem !important;
  }

  .navbar-brand {
    font-family: "Zen Dots", cursive;
    font-size: 1.7rem;
  }

  .my-nav-list {
    text-align: center;
    list-style: none;
    /* margin-left: 25%;
        margin-right: auto; */
  }

  .nav-item {
    padding-left: 3rem;
    padding-right: 2rem;
  }

  .my-nav-item2 {
    text-align: right;
  }

  .navbar-brand {
    padding-right: 4rem;
  }
}

.display-state{
  display: none;
}
    
  /* ----- Footer Area ------- */
  
  .home-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#132c33;
    color: white;
    text-align: center;
  }
  
  .footer-text {
    color:rgba(245, 245, 245, 0.836);
    padding: 1rem;
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: 300;
  }
  
  
  .display-state{
    display: none;
  }
  .card-img-top {
    border-radius: 5px;
  }
  .fa{
    color: #132c33;
  }
  .fab{
    color: #132c33;
  }
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
     background-color: #f5f5f8;  
  }
  .main-body {
    padding: 15px;
  }
  
  .nav-link {
    color: #4a5568;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
  
    border-radius: .30rem;
    
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  .listChild1
  {
    background-color: aqua;
  }
  
 
  
  